.corpo{

    width: 100%;
    height: 100vh;
    background: var(--cor-de-fundo);
    transition: background 0.5s;
}

.corpo.active{
    background: #272727;
    img{
        filter: brightness(0.65);
      }
    .cabecalho, .contatos{
        filter: brightness(0.65);
    }

    .topicos {
        filter: brightness(0.8);
    }
}

.tudo{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.btn{
    margin-left: 1em;
    display: flex;
    width: 40px;
    height: 22.5px;
    border: 1.25px solid var(--roxo-claro);
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    align-items: flex-end;

}

.btn::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background:var(--roxo-escuro);
    border-radius: 50%;
    top: 13.75%;
    left: 1.25px;
    transform: translateY(-9%);
    transition: left 0.5s;
}

.btn.active::before{
    left:17.5px;
    
}

.black-theme{
    font-size: 18px;
    color: var(--cinza);
}
